* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

canvas {
    border: 2px solid black;
}

h1 {
    font: 700 35px 'Montserrat', sans-serif;
    margin: 50px;
    text-align: center;
}

button {
    font: 400 20px 'Montserrat', sans-serif;
    padding: 5px 10px;
    background-color: #FFD233;
    margin: 2px;
    border-radius: 5px;
}

#main {
    text-align: center;
}

.tudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#foto {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: 50%;
    margin: 10px;
}

#camera {
    width: 640px;
    margin: 20px;
    display: block;
}

.video {
    position: absolute;

}

.caixaVoltar {
    display: flex;
    flex-direction: column;
}

.itensArtes {
    display: flex;
    flex-direction: column;
}

